.background{
    height: 500px;
    /* background: url(../pictures/background.jpg) center center;
    background-size: cover;*/
    padding: 150px 0 0 0;
}


#title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 40%;
    border: solid;
    border-color: white;
    border-width: 10px;
    clear: both;
}

#sub{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

#shopnav{
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;

}

#shop:hover{
    color: rgba(0,0,0,0.4);
}

#shopnav ul{
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#shopnav ul li{
    display: inline-block;

}

#shopnav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    height: 100%;
    padding: 10px 30px 10px 30px;
}

#shopnav ul li:hover{
    background-color: rgba(0,0,0,0.4);
}